@font-face {
  font-family: "iconfont"; /* Project id 3601061 */
  src: url('iconfont.woff2?t=1666257365746') format('woff2'),
       url('iconfont.woff?t=1666257365746') format('woff'),
       url('iconfont.ttf?t=1666257365746') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eat_movie:before {
  content: "\fc9d";
}

.icon-eat_user:before {
  content: "\e7ae";
}

.icon-eat_home:before {
  content: "\e7c6";
}

.icon-eat_work:before {
  content: "\e7d7";
}

.icon-eat_love:before {
  content: "\e7df";
}

