.container {
  color: $color-danger;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.eyebrow {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;

  &-eye {
    width: 40%;
    text-align: center;
  }
}

.footer {
  display: flex;
}

.nose {
  background-color: #fff;
  text-align: center;
  width: 120px;
  height: 20px;
  margin: 12px 0;
}

.block {
  width: 100%;
  background-color: #fff;
  margin-top: 12px;
  padding: 12px;
}
