.container {
  color: $color-danger;
  padding: 12px 16px;
}

.eyebrow {
  display: flex;
  justify-content: center;
  width: 100%;

  &-eye {
    width: 40%;
    text-align: center;
  }
}

.footer {
  display: flex;
}

.nose {
    text-align: center;
}

.block {
    background-color: #fff;
    margin-top: 12px;
}