.container {
  padding: 12px 16px;
}

.block {
    background-color: #fff;
    margin-top: 12px;
    padding: 12px;
    border-radius: 6px;

    &-title {
      color: $color-danger;
      font-size: 14px;
    }

    &-author {
      color: $color-danger;
      font-size: 12px;
      text-align: right;
      color: #a9dc76;
    }
}