page {
  width: 100%;
}

.container {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 32px;
}

.select {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  &-span {
    width: 81px;
    text-align: center;
    @include ellipsis();
  }
}

.list {
  margin: 16px 12px 0;
}

.block {
  background-color: #fff;
  padding: 16px 12px;
  border-radius: 6px;
  display: flex;
}

.img {
  width: 250px;
  height: 180px;
}

.title {
  background-color: #fff0f6;
}

.count {
  color: $color-danger;
  margin: 12px 12px 0;
}

.sticky {
  position: sticky;
  z-index: 9;
  left: 0;
  top: 0;
}
