page {
  background-color: #f3f3f3;
}

.select {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list {
  margin: 16px 12px 0;
}

.block {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  display: flex;
}

.img{}
