// 基础颜色
$color-darker: #3a4856 !default; // 标题颜色
$color-dark: #9eadbd !default; // 正文颜色
$color-gray-dark: #7bfac4 !default; // 图标、icon颜色
$color-gray: #3bc08e !default; // 表单边框颜色
$color-gray-light: #008a5c !default; // 内边线颜色
$color-light: #e6f4f1 !default; // 布局边框颜色
$color-lighter: #f1faff !default; // 背景颜色

$color-default: $color-dark !default;
$color-primary: #3499d8 !default; // 主色调
$color-info: #5488d3 !default; // 信息提示颜色
$color-success: #7bfac4 !default; // 正向操作提示颜色
$color-warning: #e0715d !default; // 负面操作警告颜色
$color-danger: #e74f5e !default; // 危险操作警告颜色
