// 基础颜色
$color-body: #121212 !default; // 正文颜色
$color-border: #ffe9ee !default; // 浅布局边框颜色
$color-borderer: #CCCCFF !default; // 深布局边框颜色
$color-bg: #fff0f6 !default; // 背景颜色
$color-selector-shallow: #ffdde9 !default; // 浅选中颜色
$color-selector-deep: #CCFFCC !default; // 强选中颜色
$color-selector-special: #ffce2a !default; // 特殊选中颜色

$color-primary: #fff0f6 !default; // 主色调
$color-info: #ffdde9 !default; // 信息提示颜色
$color-success: #fff0f6 !default; // 正向操作提示颜色
$color-warning: #ffdde9 !default; // 负面操作警告颜色
$color-danger: #ff6188 !default; // 危险操作警告颜色